h2 {
  color: red;
}

p {
  color: blue;
}

/* #selector id */
#primera-noticia {
  color: green;
  font-size: 1rem;
}

#segunda-noticia {
  color: darkmagenta;
  font-size: 18px;
}
/* "." selector de clase*/
.encabezado {
  font-size: 2rem;
  text-transform: uppercase;
}

/* "*" selector universal puede añadirse a una clase*/
*.warning {
  color: red;
  background-color: black;
  border-radius: 5px;
}

.autor,
.fecha,
.ubicacion {
  text-decoration: underline;
}
