/* estilos de colores */
.colores {
  color: red;
}

.color-hexadecimal {
  color: #1548d9;
}
.color-rgb {
  color: rgb(0, 200, 150);
}

.color-rgba {
  color: rgb(0, 200, 150, 0.3);
}
/* fondos e imagenes */
.fondo-externo {
  width: 500px;
  height: 500px;
  background-image: url('https://assets-es.imgfoot.com/media/cache/642x382/lionel-messi-2223-argentina-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.fondo-interno {
  width: 500px;
  height: 500px;
  background-image: url('./imagenes/fondo-interno.webp');
  background-position: center;
  background-repeat: no-repeat;
}
/* espacios y tamaños */
.ancho {
  background-color: aqua;
  color: black;
  width: 100px;
}
.alto {
  background-color: rebeccapurple;
  color: black;
  height: 100px;
}
/* tarjeta */
.tarjeta {
  border-style: solid;
  border-width: 2px;
  border-color: #1548d9;
  /*  border-top: none; */
  padding: 10px 20px;
  /*   padding: 10px,20px,30px,40px; */
  margin: 10px;
}
