.contenedor-hidden {
    background-color: aqua;
    width: 500px;
    height: 100px;
    padding: 15px;
    overflow: hidden;
    margin: 15px;
}
.contenedor-scroll {
    background-color: aqua;
    width: 500px;
    height: 100px;
    padding: 15px;
    overflow: scroll;
    margin: 15px;
}
.contenedor-visible {
    background-color: aqua;
    width: 500px;
    height: 100px;
    padding: 15px;
    overflow: visible;
    margin: 15px;
}
.contenedor-auto {
    background-color: aqua;
    width: 500px;
    height: 100px;
    padding: 15px;
    overflow: auto;
    margin: 15px;
}
