.padre {
    width: 400px;
    height: 400px;
    background-color: blue;
}

#hijo {
    width: 50%;
    height: 50%;
    background-color: aliceblue;
    transition: transform 1s;
}

.padre:hover #hijo {
    transform: translateX(100%);
    background-color: aqua;
}
