.contenedor {
    background-color: black;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    min-height: 5rem;
    /* eje principal o (horizontal) utiliza 👇 */
    justify-content: center;
    /* eje secundario o (vertical) utiliza 👇 */
    align-items: center;
    flex-wrap: wrap;
}
.item {
    background-color: salmon;
    padding: 1rem;
    width: 30rem;
}

.item-2 {
    align-self: stretch;
}
